body { 
	margin: 0px; 
	font-family: 'Oleo Script', cursive; background-color:  #fffeef ;
}


header {
  
  /*
  text-align: center;
  background-color: white;
  color: red;
  padding: 5% 5% 0px 5%;
  */
  background-color:  #fffeef ;
}

.titolo {
	width: 100%;	
	height: 100px;  	/*perchè su pc è una buona altezza*/
	margin: 0px; 		/*perchè lo metteva di default, quindi l'ho tolto*/

	text-align: center;	
	font-size: 300%; 
}

#menu {
	text-align: center;

	width: 100%;
	height: 400px;						/*altrimenti l'immagine di sfondo non si vede*/

	background-image: url("../immagini/pentagramma.png");
	background-repeat: no-repeat; 
	background-size: 100% auto;		/*per rimpicciolire l'immagine di sfondo*/
/*	background-size: cover;  			/*Resize the background image to cover the entire container */

/*	padding: 5% 5% 0px 5%; */
}

#menu ul {
	margin:0px;
	width: 100%; /* Dimensioni della barra del menu */
	height: 100%;

	text-align: center;
	padding: 0px 0px 0px 0px;

	list-style-type: none;
}

#menu li {
	display:inline-block; 	/*ogni elemento si mette a destra del precedente*/
	margin: auto auto 0px auto; /*per mettere gli elementi del menù sotto le note*/

	padding: 0px 11% 0px 11%; /*perchè siano in linea con le note*/
	text-transform: uppercase;
}

#menu a {

}

/*
#imghome {
	margin: 10px 25%;
	max-width: 80%;
	height: 400px;
}
*/

.font {text-align: center;}

/*
#background { background-color:  #fffeef ; }
*/

#download {
	text-align: left;
}

#albinoni {
	margin: 10px 25%;
	max-width: 80%;
	height: 400px;
}

